li {
    color: rgb(235, 8, 8);
}

#profil {
    color: rgb(221, 221, 19);
}

#body {
    background-color: blueviolet;
}

#bod {
    background-color: rgb(20, 196, 250);
}

#bodi {
    background-color: rgb(255, 82, 14);
}

#bo {
    background-color: rgb(16, 241, 9);
}

#b {
    background-color: rgb(218, 10, 10);
}

#ok {
    background-color: rgb(10, 218, 62);
}

#soo {
    background-color: rgb(241, 239, 69);
}

#ll {
    background-color: rgba(218, 8, 172, 0.925);
}